<nav class="navbar navbar-expand-lg " style="background-color: #000000;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #BC6FF1;" href="/securityProfile"><img src="https://www.freeiconspng.com/uploads/login-icon-png-27.png" height="50px" alt="">Security</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item ">
            <a class="nav-link " style="color: #BC6FF1;" aria-current="page" href="/securityProfile">profile</a>
        </li>
            <li class="nav-item ">
                <a class="nav-link " style="color: #BC6FF1;" aria-current="page" href="/checkin">checkin</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " style="color: #BC6FF1;" aria-current="page" href="/searchCheckin">view checkins</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " style="color: #BC6FF1;" aria-current="page" href="/guest">Guest</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " style="color: #BC6FF1;" aria-current="page" href="/viewguest">checkin Guest</a>
            </li>
        </ul>
        <a href="\"  class="btn btn-outline-danger ">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
  </svg>log out
</a>
      </div>
    </div>
  </nav>
