<app-navbar-security></app-navbar-security>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="name" class="form-label">Date</label>
                    <input name="date" [(ngModel)]="date" type="date" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="searchE()" class="btn btn-success">search</button>
                </div>
            </div>

            <div class="row g-3 mt-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <table class="table table-bordered border-primary">
                    <thead>
                    <tr scope="row">
                        <th scope="col">emp code</th>
                        <th scope="col">designation</th>
                        <th scope="col">typeOfleave</th>
                        <th scope="col">login</th>
                        <th scope="col">logout</th>
                        <th scope="col">minutes</th>
                    </tr></thead>
                    <tbody>
                    <tr *ngFor="let i of data1" scope="row">
                        <td scope="col"  >{{i.emp_id}}</td>
                        <td scope="col"  >{{i.name}}</td>
                        <td scope="col"  >{{i.designation}}</td>
                        <td scope="col"  >{{i.login}}</td>
                        <td scope="col"  >{{i.logout}}</td>
                        <td scope="col"  >{{i.minutes}}</td>

                    </tr></tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
